// Контейнер
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    @include tablet {
        padding-right: 40px;
        padding-left: 40px;
    }

    @include desktop {
        max-width: 1440px;
        padding-right: 72px;
        padding-left: 72px;
    }
}