.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: "Sen", sans-serif;
  background-color: #000000;
  color: #ffffff;
  line-height: 1.5;
  font-size: 18px;
}

.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-right: 72px;
    padding-left: 72px;
  }
}

section {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 55px;
    line-height: 1.2;
  }
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__container {
  display: block;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    margin-right: 24px;
    margin-left: auto;
  }
}

.menu__item + .menu__item {
  margin-left: 48px;
}

.memu__link {
  cursor: pointer;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #ffffff;
  font-size: 18px;
}

.header__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: block;
    font-weight: 700;
    font-size: 18px;
    padding: 32px 24px;
    background-color: #5221e6;
    margin-left: auto;
  }
}

.no-scroll {
  position: fixed;
}

.mob-menu {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 60px 15px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #181823;
  transform: translateX(0);
  transition: all 250ms;
}
.mob-menu.is-hidden {
  transform: translateX(-100%);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.mob-menu__button {
  display: block;
  margin-top: auto;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  padding: 32px 24px;
  background-color: #5221e6;
}

.mob-menu__item + .mob-menu__item {
  margin-top: 30px;
}

.mob-menu__link {
  color: #ffffff;
  font-size: 24px;
}

.menu-close-btn {
  position: absolute;
  right: 15px;
  top: 20px;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 288px;
  width: 100%;
  background-image: url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 360px 288px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-height: 814px;
    background-image: url(../images/hero-tab.jpg);
    background-position: left center;
    background-size: 384px 650px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-tab-2x.jpg);
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 814px;
    background-image: url(../images/hero.jpg);
    background-position: left center;
    background-size: 750px 650px;
    border-bottom: 1px dashed blue;
    border-width: 5px;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-2x.jpg);
  }
}


@media screen and (min-width: 768px) {
  .hero-mobile {
    display: none;
  }
}



.hero__img {
  left: 0;
  top: 0;
  width: 100vw;
}



.hero__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 56px;
    line-height: 1.2;
  }
}

.hero__title--gray {
  color: rgba(255, 255, 255, 0.5);
}

.hero__subtitle {
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.5;
}

.hero-tablet {
  width: 418px;
  margin-left: auto;
  display: block;
}
@media screen and (max-width: 767px) {
  .hero-tablet {
    display: none;
  }

}
@media screen and (min-width: 1440px) {
  .hero-tablet {
    width: 738px;
  }

}

.work-exp__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #8491a0;
}

.work-exp__heading {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .work-exp__heading {
    font-size: 55px;
    line-height: 1.2;
  }
}

.work-exp-list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .work-exp-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 1440px) {
  .work-exp-list {
    gap: 72px;
  }
}

.work-exp-list__number {
  font-size: 117px;
  line-height: 1.2;
  color: #8491a0;
}

.work-exp-list__title {
  margin-bottom: 16px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .work-exp-list__title {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .work-exp-list__title {
    margin-bottom: 22px;
  }
}

.work-exp-list__title--green {
  color: #3cc74e;
}

.work-exp-list__title--blue {
  color: #609bff;
}

.work-exp-list__title--pink {
  color: #e95d90;
}

.work-exp-list__text {
  font-size: 16px;
  color: #8491a0;
}


.philosophy {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fff3e4;


.philosophy__container {

  display: flex;
}
@media screen and (max-width: 767px) {
  .philosophy {
    flex-direction: column;
  }
}

.philosophy__wrap-text {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .philosophy__wrap-text {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .philosophy__wrap-text {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.philosophy__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  color: #181823;
}
@media screen and (min-width: 768px) {
  .philosophy__title {
    font-size: 55px;
    line-height: 1.2;
  }
}

.philosophy__text {
  margin-bottom: 90px;
  font-size: 18px;
  color: #5b6876;
}

.philosophy__link {
  width: 116px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #181823;
  border-bottom: 1px solid #8491a0;
}

.skillset__title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.9;
}
@media screen and (min-width: 768px) {
  .skillset__title {
    font-size: 55px;
    line-height: 1.2;
  }
}

.skillset__text {
  color: #8491a0;
  line-height: 1.5;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .skillset__text {
    font-size: 18px;
  }
}

.skillset-list {
  margin-top: 69px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
@media screen and (min-width: 768px) {
  .skillset-list__item {
    width: calc((100% - 48px) / 2);
  }
}
.skillset-list__title {
  margin-top: 24px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}
.skillset-list__text {
  margin-top: 12px;
  color: #8491a0;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 1440px) {
  .skillset-wrap {
    display: flex;
  }
  .skillset-list {
    margin-top: 0;
    margin-left: 72px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}


@media screen and (min-width: 768px) {
  .testimonials-cont {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .testimonials__main-text--cont {
    margin-right: 23px;
  }
}

.testimonials__text {
  margin-top: 16px;
  margin-bottom: 40px;
  color: #8491a0;
}

.testimonials__underline-text {
  display: inline;
  padding-bottom: 3px;
  border-bottom: 1px solid #8491a0;
}

.testimonials__list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  max-width: 332px;
}
@media screen and (min-width: 1440px) {
  .testimonials__list {
    max-width: 636px;
  }
}
@media screen and (min-width: 768px) {
  .testimonials__list {
    margin-top: 0;
  }
}

.testimonials__item:not(:last-child) {
  margin-bottom: 48px;
}

.testimonials__thumb--text-cont {
  padding: 32px;
  border: 1px solid #5b6876;
}

.testimonials__thumb--text {
  margin-bottom: 64px;
}

.testimonials__thumb--name {
  font-weight: 700;
  color: #8491a0;
}

.testimonials__thumb--prof {
  color: #8491a0;

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

.container--variable {
  padding-left: 0;
  padding-right: 0;
}

.clients__item {
  width: 50%;
  display: block;
  min-width: 180px;
  height: 140px;
  border: 1px solid #434343;
}

.clients__link {
  display: flex;
  height: 100%;
  min-width: 100%;
  align-items: center;
  justify-content: center;

}

.photography {
  padding: 48px 0;
}

.photography__text {
  display: block;
  color: #8491a0;
  margin-top: 24px;
}

.photography__btn-list {
  margin-bottom: 40px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 148px 148px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
@media screen and (min-width: 768px) {
  .photography__btn-list {
    display: flex;
  }
}

.photography__btn {
  padding: 12px 16px;
  border: 1px solid #5221e6;
  background-color: #000000;
}
.photography__btn:hover, .photography__btn:focus {
  background-color: #5221e6;
}
@media screen and (max-width: 767px) {
  .photography__btn {
    width: 148px;
    height: 51px;
  }
}

.photography__img-item:not(:last-child) {
  margin-bottom: 24px;
}/*# sourceMappingURL=index.css.map */