.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: "Sen", sans-serif;
  background-color: #000000;
  color: #ffffff;
  line-height: 1.5;
  font-size: 18px;
}

.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-right: 72px;
    padding-left: 72px;
  }
}

section {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 55px;
    line-height: 1.2;
  }
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__container {
  display: block;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    margin-right: 24px;
    margin-left: auto;
  }
}

.menu__item + .menu__item {
  margin-left: 48px;
}

.memu__link {
  cursor: pointer;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #ffffff;
  font-size: 18px;
}

.header__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: block;
    font-weight: 700;
    font-size: 18px;
    padding: 32px 24px;
    background-color: #5221e6;
    margin-left: auto;
  }
}

.no-scroll {
  position: fixed;
}

.mob-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 60px 15px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #181823;
  transform: translateX(0);
  transition: translateX 1000ms;
}
.mob-menu.is-hidden {
  transform: translateX(-100%);
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }

}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}


}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.mob-menu__button {
  display: block;
  margin-top: auto;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  padding: 32px 24px;
  background-color: #5221e6;
}

.mob-menu__item + .mob-menu__item {
  margin-top: 30px;
}

.mob-menu__link {
  color: #ffffff;
  font-size: 24px;
}

.menu-close-btn {
  position: absolute;
  right: 15px;
  top: 20px;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.hero {
  min-height: 362px;
  background-image: url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.work-exp__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #8491a0;
}

.work-exp__heading {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .work-exp__heading {
    font-size: 55px;
    line-height: 1.2;
  }
}

.work-exp-list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .work-exp-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 1440px) {
  .work-exp-list {
    gap: 72px;
  }
}

.work-exp-list__number {
  font-size: 117px;
  line-height: 1.2;
  color: #8491a0;
}

.work-exp-list__title {
  margin-bottom: 16px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .work-exp-list__title {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .work-exp-list__title {
    margin-bottom: 22px;
  }
}

.work-exp-list__title--green {
  color: #3cc74e;
}

.work-exp-list__title--blue {
  color: #609bff;
}

.work-exp-list__title--pink {
  color: #e95d90;
}

.work-exp-list__text {
  font-size: 16px;
  color: #8491a0;
}


@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
.philosophy__container {
  display: flex;
}
@media screen and (max-width: 768px) {
  .philosophy__container {
    flex-direction: column;
  }
}

.philosophy__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.philosophy__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  color: #181823;
}
@media screen and (min-width: 768px) {
  .philosophy__title {
    font-size: 55px;
    line-height: 1.2;
  }
}

.philosophy__text {
  font-size: 18px;
  color: #5b6876;
}

.philosophy__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #181823;
  border-bottom: 1px solid #8491a0;
}

.photography {
  padding: 48px 20px;
}

.photography__text {
  display: block;
  color: #8491a0;
  margin-top: 24px;
}

.photography__btn-list {
  display: flex;
  flex-wrap: wrap;
}

=======

.skillset__title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.9;
}
@media screen and (min-width: 768px) {
  .skillset__title {
    font-size: 55px;
    line-height: 1.2;
  }
}

.skillset__text {
  color: #8491a0;
  line-height: 1.5;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .skillset__text {
    font-size: 18px;
  }
}

.skillset-list {
  margin-top: 69px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
@media screen and (min-width: 768px) {
  .skillset-list__item {
    width: calc((100% - 48px) / 2);
  }
}
.skillset-list__title {
  margin-top: 24px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}
.skillset-list__text {
  margin-top: 12px;
  color: #8491a0;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 1440px) {
  .skillset-wrap {
    display: flex;
  }
  .skillset-list {
    margin-top: 0;
    margin-left: 72px;
  }
}
.photography {
  padding: 48px 20px;
}

.photography__text {
  display: block;
  color: #8491a0;
  margin-top: 24px;
}

.photography__btn-list {
  display: flex;
  flex-wrap: wrap;
}


.photography__btn {
  margin-right: 24px;
  margin-bottom: 24px;
  border: 1px solid #5221e6;
  background-color: #000000;
}
.photography__btn:hover, .photography__btn:focus {
  background-color: #5221e6;
}/*# sourceMappingURL=index.css.map */