$colorBase: #000000;
$colorLevel1: #181823;
$colorLightGrey: #DEECF9;
$colorDarkGrey: #C7E0F4;
$colorText: #FFFFFF;
$colorPrimary: #5221E6;
$colorGreenAccent: #3CC74E;
$colorPinkAccent: #E95D90;
$colorPeachAccent: #FFF3E4;
$colorVioletAccent: #FBE4FF;