$colorBase: #000000;
$colorLevel1: #181823;
$colorLightGrey: #deecf9;
$colorDarkGrey: #c7e0f4;
$colorText: #ffffff;
$colorPrimary: #5221e6;
$colorGreenAccent: #3cc74e;
$colorPinkAccent: #e95d90;
$colorPeachAccent: #fff3e4;
$colorVioletAccent: #fbe4ff;
$colorTextGrey: #8491a0;
$colorBlueAccent: #609bff;
$colorPhilosophyText: #5b6876;
