<section class="contact-me">
  <div class="container">
    <div class="form">
      <div class="form__description form__item">
        <h2 class="form__title title">Let’s get started</h2>
        <p class="form__text">
          Now that you know a lot about me, let me know if you are interested to
          work with me.
        </p>
      </div>
      <div class="form__field form__item">
        <label class="label">
          <span class="label__title">Name</span>
          <input class="label__input" name="name" type="text" />
        </label>
        <label class="label">
          <span class="label__title">Email</span>
          <input class="label__input" name="email" type="email" />
        </label>
        <label class="label">
          <span class="label__title">Message</span>
          <textarea class="label__input label__mesage" name="comment"></textarea>
        </label>
        <button class="form__button" type="submit">Let’s get started</button>
      </div>
    </div>
  </div>
</section>