<header class="header">
    <div class="container header__container">
        <nav class="header__nav">
            <a href="./index.html" class="logo">
                <img src="./images/icons/logo.svg" alt="logo" width="78px" height="24">
            </a>
            <ul class="menu">
                <li class="menu__item"><a href="" class="memu__link">Experience</a></li>
                <li class="menu__item"><a href="" class="memu__link">Work</a></li>
                <li class="menu__item"><a href="" class="memu__link">Photography</a></li>
            </ul>

        </nav>
        <button class="button header__button" type="button">Contact</button>
    </div>
</header>