<section class="instagram">
  <div class="instagram__container container">
    <div class="instagram__wrap-text">
      <h2 class="instagram__title">Instagram</h2>
      <p class="instagram__text">
        If you area a person who enjoys photography, then I highly recommend
        that you check out my Instagram. I’m an avid traveller and I capture the
        best moments that I would love to cherish with the world
      </p>
      <a href="" class="instagram__link">Follow me on IG</a>
    </div>
  </div>
  <picture>
    <source
      srcset="./images/instagram.jpg 1x, ./images/instagram-2x.jpg 2x"
      media="(min-width: 1440px)"
    />
    <source
      srcset="./images/instagram-tab.jpg 1x, ./images/instagram-tab-2x.jpg 2x"
      media="(min-width: 768px)"
    />
    <img
      class="instagram__image"
      src="./images/instagram-mob.jpg"
      alt="стекляный шар в руке"
      width="360"
    />
  </picture>
</section>
