<section class="philosophy">
  <div class="philosophy__container container">
    <div class="philosophy__wrap-text ">
      <h2 class="philosophy__title">Philosophy & values</h2>
      <p class="philosophy__text">
        I think everyone wants the same thing - relationship with humanity,
        peace with the metaphysical, and experience with the universe. I try to
        grasp these things with my values: authenticity, creativity, &
        hospitality.
      </p>
      <a href="" class="philosophy__link">More about me</a>
    </div>

    <picture class="picture picture__container">
      <source srcset="./images/philosophy.jpg 1x, ./images/philosophy-2x.jpg 2x" media="(min-width: 1440px)" />
      <source srcset="
          ./images/philosophy-tab.jpg    1x,
          ./images/philosophy-tab-2x.jpg 2x
        " media="(min-width: 768px)" />
      <source srcset="
          ./images/philosophy-mob.jpg    1x,
          ./images/philosophy-mob-2x.jpg 2x
        " media="(min-width: 320px)" />
      <img class="philosophy__picture" src="./images/philosophy-mob.jpg" alt="стекляный шар в руке" width="360" />
    </picture>

  </div>
</section>