<section class="photography" id="photography">
  <div class="container">
    <h2 class="photography__title title">Photography</h2>
    <p class="photography__text">
      Here is a collection of my best travel pictures that I took while
      travelling places all around the world.
    </p>
    <ul class="photography__btn-list">
      <li class="photography__btn-item">
        <button type="button" class="photography__btn">ITALY</button>
      </li>
      <li class="photography__btn-item">
        <button type="button" class="photography__btn">AUSTRALIA</button>
      </li>
      <li class="photography__btn-item">
        <button type="button" class="photography__btn">INDIA</button>
      </li>
      <li class="photography__btn-item">
        <button type="button" class="photography__btn">BRAZIL</button>
      </li>
    </ul>
    <ul class="photography__img-list">
      <li class="photography__img-item">
        <picture>
          <source srcset="
              ./images/photography-1.jpg    1x,
              ./images/photography-1-2x.jpg 2x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/photography-1-tab.jpg    1x,
              ./images/photography-1-tab-2x.jpg 2x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/photography-1-mob.jpg    1x,
              ./images/photography-1-mob-2x.jpg 2x
            " media="(min-width:320px)" />
          <img src="./images/photography-1.jpg" alt="houses" />
        </picture>
      </li>
      <li class="photography__img-item">
        <picture>
          <source srcset="
              ./images/photography-2.jpg    1x,
              ./images/photography-2-2x.jpg 2x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/photography-2-tab.jpg    1x,
              ./images/photography-2-tab-2x.jpg 2x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/photography-2-mob.jpg    1x,
              ./images/photography-2-mob-2x.jpg 2x
            " media="(min-width:320px)" />
          <img src="./images/photography-2.jpg" alt="boat on the river" />
        </picture>
      </li>
      <li class="photography__img-item">
        <picture>
          <source srcset="
              ./images/photography-3.jpg    1x,
              ./images/photography-3-2x.jpg 2x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/photography-3-tab.jpg    1x,
              ./images/photography-3-tab-2x.jpg 2x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/photography-3-mob.jpg    1x,
              ./images/photography-3-mob-2x.jpg 2x
            " media="(min-width:320px)" />
          <img src="./images/photography-3.jpg" alt="" />
        </picture>
      </li>
      <li class="photography__img-item">
        <picture>
          <source srcset="
              ./images/photography-4.jpg    1x,
              ./images/photography-4-2x.jpg 2x
            " media="(min-width:1440px)" />
          <source srcset="
              ./images/photography-4-tab.jpg    1x,
              ./images/photography-4-tab-2x.jpg 2x
            " media="(min-width:768px)" />
          <source srcset="
              ./images/photography-4-mob.jpg    1x,
              ./images/photography-4-mob-2x.jpg 2x
            " media="(min-width:320px)" />
          <img src="./images/photography-4.jpg" alt="" />
        </picture>
      </li>
    </ul>
  </div>
</section>