<section class="photography">
  <div class="container">
    <h2 class="photography__title title">Photography</h2>
    <p class="photography__text">
      Here is a collection of my best travel pictures that I took while
      travelling places all around the world.
    </p>
    <ul class="photography__btn-list">
      <li class="photography__btn-item">
        <button type="button" class="photography__btn">ITALY</button>
      </li>
      <li class="photography__btn-item">
        <button type="button" class="photography__btn">AUSTRALIA</button>
      </li>
      <li class="photography__btn-item">
        <button type="button" class="photography__btn">INDIA</button>
      </li>
      <li class="photography__btn-item">
        <button type="button" class="photography__btn">BRAZIL</button>
      </li>
    </ul>
    <ul class="photography__img-list">
      <li class="photography__img-item">
        <picture>
          <source />
          <source />
          <source />
          <img src="./images/photography-1.jpg" alt="houses" />
        </picture>
      </li>
      <li class="photography__img-item">
        <picture>
          <source />
          <source />
          <source />
          <img src="./images/photography-2.jpg" alt="boat on the river" />
        </picture>
      </li>
      <li class="photography__img-item">
        <picture>
          <source />
          <source />
          <source />
          <img src="./images/photography-3.jpg" alt="" />
        </picture>
      </li>
      <li class="photography__img-item">
        <picture>
          <source />
          <source />
          <source />
          <img src="./images/photography-4.jpg" alt="" />
        </picture>
      </li>
    </ul>
  </div>
</section>
