<section class="skillset">
  <div class="container skillset-wrap">
    <div>
      <h2 class="skillset__title">Skillset</h2>
      <p class="skillset__text">
        With skills in over 4 different fields of design, I am the perfect
        person to hire when it comes to a full fledged project. Whatever your
        needs are, I can pretty much take on any challenge.
      </p>
    </div>
    <ul class="skillset-list">
      <li class="skillset-list__item">
        <svg width="32" height="32">
          <use href="./images/icons/SVG-sprite.svg#icon-skillset-1"></use>
        </svg>
        <h3 class="skillset-list__title">Product Design</h3>
        <p class="skillset-list__text">
          Working at Facebook has taught me a lot about how to understand users,
          solve problems and build great products.
        </p>
      </li>
      <li class="skillset-list__item">
        <svg width="32" height="32">
          <use href="./images/icons/SVG-sprite.svg#icon-skillset-2"></use>
        </svg>
        <h3 class="skillset-list__title">Visual Design</h3>
        <p class="skillset-list__text">
          My experience at dribbble has helped me learn to develop the eye for
          design. Colors, typography, layout and the whole package.
        </p>
      </li>
      <li class="skillset-list__item">
        <svg width="32" height="32">
          <use href="./images/icons/SVG-sprite.svg#icon-skillset-3"></use>
        </svg>
        <h3 class="skillset-list__title">Motion Design</h3>
        <p class="skillset-list__text">
          I started my design journey with motion design in my college days.
          Motion is something that really fascinates me because of the
          flexibility of story telling.
        </p>
      </li>
      <li class="skillset-list__item">
        <svg width="32" height="32">
          <use href="./images/icons/SVG-sprite.svg#icon-skillset-4"></use>
        </svg>
        <h3 class="skillset-list__title">Photography</h3>
        <p class="skillset-list__text">
          Clicking pictures really brings out the creative in me. Phtography
          really makes you look and percieve things in a different way.
        </p>
      </li>
    </ul>
  </div>
</section>
