<section class="work-exp" id="work-exp">
  <div class="container">
    <h2 class="work-exp__title">work experience</h2>
    <h3 class="work-exp__heading">Companies I have worked for in the past</h3>
    <ul class="work-exp-list">
      <li class="work-exp-list__item">
        <span class="work-exp-list__number">01</span>
        <h4 class="work-exp-list__title">
          <span class="work-exp-list__title--green">Google</span>, Interaction
          Designer
        </h4>
        <p class="work-exp-list__text">
          I currently am the lead designer on the interaction design team for
          Google Play.
        </p>
      </li>
      <li class="work-exp-list__item">
        <span class="work-exp-list__number">02</span>
        <h4 class="work-exp-list__title">
          <span class="work-exp-list__title--blue">Facebook</span>, Product
          Designer
        </h4>
        <p class="work-exp-list__text">
          I’ve worked on a wide variety of internal tools for facebook over the
          past 6 years.
        </p>
      </li>
      <li class="work-exp-list__item">
        <span class="work-exp-list__number">03</span>
        <h4 class="work-exp-list__title">
          <span class="work-exp-list__title--pink">Dribbble</span>, Graphic
          Designer
        </h4>
        <p class="work-exp-list__text">
          I started my design career with Dribbble. I was incharge of creating
          illustrations for the platform.
        </p>
      </li>
    </ul>
  </div>
</section>