.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

.container--variable {
  padding-left: 0;
  padding-right: 0;
}

.clients__item {
  width: calc(100% / 2);
  display: block;
  min-width: 180px;
  height: 140px;
  border: 1px solid #434343;
}

.clients__link {
  display: flex;
  height: 100%;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}
