.logo {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header__container {
    display: block;

    @include tablet {
        display: flex;
    }

}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.menu {
    @include mobile {
        display: none;
    }

    @include tablet {
        display: flex;
        margin-right: 24px;
        margin-left: auto;
    }
}

.menu__item+.menu__item {
    margin-left: 48px;
}

.memu__link {
    cursor: pointer;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $colorText;
    font-size: 18px;
}

.header__button {
    display: none;

    @include tablet {
        display: block;
        font-weight: 700;
        font-size: 18px;
        padding: 32px 24px;
        background-color: $colorPrimary;
        margin-left: auto;
    }
}



// мобильное меню
.no-scroll {
    position: fixed;
}

.mob-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 60px 15px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $colorLevel1;
    transform: translateX(0);
    transition: translateX 1000ms;

    &.is-hidden {
        transform: translateX(-100%);
    }

    @include tablet {
        display: none;
    }
}

.menu-open-btn {
    @include tablet {
        display: none;
    }
}

.mob-menu__button {
    display: block;
    margin-top: auto;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    padding: 32px 24px;
    background-color: $colorPrimary;

}

.mob-menu__item+.mob-menu__item {
    margin-top: 30px;
}

.mob-menu__link {
    color: $colorText;
    font-size: 24px;
}

.menu-close-btn {
    position: absolute;
    right: 15px;
    top: 20px;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.social__item+.social__item {
    margin-left: 10px;
}