.hero {

    @include mobile {
        position: relative;
        padding-bottom: 48px;
        min-height: 652px;
        background-image: url(../images/hero-mob.jpg);
        background-repeat: no-repeat;
        background-position: top;

        @include retinaBgImg {
            background-image: url(../images/hero-mob-2x.jpg);
            background-size: 360px 288px
        }
    }

    @include tablet {
        width: 768px;
        margin: 0 auto;
        background-image: url(../images/hero-tab.jpg);
        background-position: left center;
        background-size: 384px 650px
    }

    @include desktop {
        min-height: 814px;
        width: 1440px;
        background-image: url(../images/hero.jpg), linear-gradient(to right,
                $colorBase 40%,
                $colorLevel1 40%,
                $colorLevel1 100%);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 750px 650px, 100%;

        @include retinaBgImg {
            background-image: url(../images/hero-2x.jpg), linear-gradient(to right,
                    $colorBase 40%,
                    $colorLevel1 40%,
                    $colorLevel1 100%);
            background-position: left center;
            background-repeat: no-repeat;
            background-size: 750px 650px, 100%;
        }
    }
}

.hero__container {
    @include tablet {
        display: flex;
        align-items: center;
    }
}

.hero__img {
    @include tablet {
        max-width: 348px;
    }

    @include desktop {
        max-width: 750px;
    }
}

.hero__descr {
    @include mobile {
        position: absolute;
        bottom: 48px;
        width: 320px;

    }

    @include tablet {
        position: static;
        width: 408px;
        margin-left: auto;

    }

    @include desktop {
        display: block;
        width: 738px;
        margin-left: auto;

    }
}

.hero__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;

    @include tablet {
        font-size: 56px;
        line-height: 1.20;
    }
}

.hero__title--gray {
    color: rgba(255, 255, 255, 0.5);
}

.hero__subtitle {
    margin-top: 16px;
    font-size: 18px;
    line-height: 1.5;
}