.hero {
    @media screen and (max-width:767px) {
        padding-top: 0;
    }

    @include desktop {
        background-image: linear-gradient(to right,
                $colorBase 40%,
                $colorLevel1 40%,
                $colorLevel1 100%)
    }
}

.hero__container {
    padding-right: 0;
    padding-left: 0;

    @include tablet {
        display: flex;
        align-items: center;
    }
}

.hero__img {
    @include tablet {
        max-width: 348px;
    }

    @include desktop {
        max-width: 750px;
    }
}

.hero__descr {
    @media screen and (max-width:767px) {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 48px;
    }

    @include tablet {
        max-width: 408px;
        position: absolute;
        right: 40px;
    }

    @include desktop {
        max-width: 738px;
    }
}

.hero__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;

    @include tablet {
        font-size: 56px;
        line-height: 1.20;
    }
}

.hero__title--gray {
    color: rgba(255, 255, 255, 0.5);
}

.hero__subtitle {
    margin-top: 16px;
    font-size: 18px;
    line-height: 1.5;
}