// breakpoints
@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.philosophy__container {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.philosophy__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.philosophy__title {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  color: $colorLevel1;
  @include tablet {
    font-size: 55px;
    line-height: 1.2;
  }
}

.philosophy__text {
  font-size: 18px;
  color: $colorPhilosophyText;
}

.philosophy__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $colorLevel1;
  border-bottom: 1px solid $colorTextGrey;
}
