.work-exp__title {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: $colorTextGrey;
}

.work-exp__heading {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  color: $colorText;
  @include tablet {
    font-size: 55px;
    line-height: 1.2;
  }
}

.work-exp-list {
  display: flex;
  gap: 40px;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @include desktop {
    gap: 72px;
  }
}

.work-exp-list__number {
  font-size: 117px;
  line-height: 1.2;
  color: $colorTextGrey;
}

.work-exp-list__title {
  margin-bottom: 16px;

  font-weight: 700;
  color: $colorText;
  @include tablet {
    margin-bottom: 24px;
  }
  @include desktop {
    margin-bottom: 22px;
  }
}

.work-exp-list__title--green {
  color: $colorGreenAccent;
}

.work-exp-list__title--blue {
  color: $colorBlueAccent;
}

.work-exp-list__title--pink {
  color: $colorPinkAccent;
}

.work-exp-list__text {
  font-size: 16px;
  color: $colorTextGrey;
}
